@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap');
@import "tailwindcss";

/* Fonte padrão */
body, html {
  background: #000 !important;           /* fundo preto */
  color: #a259ff !important;             /* texto roxo fluorescente */
  font-family: var(--font-space-grotesk), Helvetica, sans-serif !important;
}

/* Força cor e fundo em todos elementos */
* {
  background: transparent;
  font-family: var(--font-space-grotesk), Helvetica, sans-serif !important;
  box-shadow: none !important;
}

/* Remove variáveis não usadas pelo Tailwind */